<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2><%= @article.title.titleize %></h2>
      <%= @article.content %>
      <h3>Yorumlar</h3>
    </div>
    <div id="comments">
      <%= render @article.comments %>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Yorum Yap
        </div>
        <div class="panel-body">
          <%= form_for [@article, @new_comment], role: 'form', remote: true do |f| %>
            <%= f.label :content %>
            <%= f.text_area :content, { class:'form-control', rows: '5' } %>
            <%= f.submit 'Yolla', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>